:root.theme-dark {
  --path_background_image: url(../images/cover-image-dark.png);
  --background_color: #000028;
  --accent_color: #ff0070;
  --text_shadow_color: #ff0070;
  --nav_color: #ff0070;
  --section_text_color: #f1b2ce;
  --color_title_header_footer: #db00ff;
  --content_title_color: #ff0070;
  --back_text: #ff0070;
  --text_color: #000028;
  --hover_button:rgb(255, 0, 112,0.4);

  .header_element_decor {
    display: block;
  }
}


