:root.theme-light {
  --path_background_image: url(../images/cover-image-light.png);
  --accent_color: #ff8dcb;
  --nav_color: #353430;
  --section_text_color: #353430;
  --content_title_color: #353430;
  --back_text: #ff8dcb;
  --color_title_header_footer: #ffc2e6;
  --text_shadow_color: #ff8dcb;
  --text_color: #353430;
  --hover_button:rgb(50, 49, 45,0.4);

.header_element_decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --path_background_image: url(../images/cover-image-light.png);
    --accent_color: #ff8dcb;
    --nav_color: #353430;
    --section_text_color: #353430;
    --content_title_color: #353430;
    --back_text: #ff8dcb;
    --color_title_header_footer: #ffc2e6;
    --text_shadow_color: #ff8dcb;
    --text_color: #353430;
    --hover_button:rgb(50, 49, 45,0.4);
  }
.header_element_decor {
    display: none;
  }
  }
