.page {
  background-image: var(--path_background_image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background_color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header__theme-menu" "header_title" "header_text";
  height: 100dvh;
  min-height: 668px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-top: 20px;
}

.title {
  font-family: "IBM Plex mono", monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color_title_header_footer);
  font-weight: 700;
  line-height: 83%;
  align-self: center;
  justify-self: center;
}
.header_title {
  text-shadow: 4px 4px 0 var(--text_shadow_color);
  padding-left: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav_color);
  border-block-start: 1px solid var(--nav_color);
  inset-inline-end: var(--main_gap);
  inset-block-start: var(--main_gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav_color);
  border-block-end: 1px solid var(--nav_color);
  inset-inline-start: var(--main_gap);
  inset-block-end: var(--main_gap);
}

.header_text {
  color: var(--text_color);
  font-size: 18px;
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex mono", monospace;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.header_element_decor {
  font-family: "IBM Plex mono", monospace;
  font-weight: 400;
  position: absolute;
  top: 10px; /*исправил маргин на топ*/
  color: var(--nav_color);
  font-size: var(--main_text_size);
  line-height: var(--main_line_height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main_gap) + 28px);
  inset-inline-start: calc(var(--main_gap) + 2px);
  justify-self: end;
}

.header_element_decor::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  top: 0px;
  right: -20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav_color);
  background-color: var(--nav_color);
  inset-block-start: 35%;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--nav_color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav_color);
  outline: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  font-size: var(--main_text_size);
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--nav_color);
  border: none;
  font-family: "IBM Plex mono", monospace;
  text-transform: lowercase;
  padding: 1.5px 13px;
  margin-right: 10px;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--nav_color);
  pointer-events: none;
}

.title-decor {
  background-color: var(--back_text);
}

.content {
  display: grid;
  gap: 50px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.content_ref {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text_shadow_color);
}

.block {
  font-family: "IBM Plex mono", monospace;
}

.content_section_title {
  font-family: "IBM Plex mono", monospace;
  color: var(--content_title_color);
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  font-weight: 700;
}

.block_title {
  color: var(--text_color);
  background-color: var(--back_text);
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.block_subtitle {
  color: var(--text_color);
  background-color: var(--back_text);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-top: 20px;
}

.block_text {
  color: var(--section_text_color);
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.images_content {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  margin-top: 10px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block_title_image {
  font-family: "IBM Plex mono", monospace;
  color: var(--text_color);
  background-color: var(--back_text);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  height: 100dvh;
  min-height: 668px;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--text_shadow_color);
}

.content_ref:hover {
  text-decoration: underline;
}

.content_ref:focus-visible {
  outline: 1px solid var(--section_text_color);
}

@media (width>=768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    margin-top: 117.5px;
  }

  .header_element_decor {
    --main_gap: 20px;
    top: 20px; /*исправил маргин на топ*/
  }

  .decorated-zone::before {
    --main_gap: 20px;
  }

  .decorated-zone::after {
    --main_gap: 20px;
  }

  .header_title {
    justify-self: left;
    padding-left: 0;
  }

  .header__theme-menu-button {
    margin-right: 20px;
  }

  .header_text {
    color: var(--text_color);
    justify-self: end;
    align-self: start;
    inline-size: 364px;
    margin-top: 42px;
    margin-right: 20px;
  }

  .content {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .why_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .block_title {
    margin-top: 0;
  }

  .content_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .attention_content {
    display: grid;
    margin-top: 30px;
  }

  .content_section_title {
    inline-size: 236px;
    margin-bottom: 20px;
  }

  .content_free {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 30px;
  }

  .block_title_image {
    display: grid;

    margin-top: 30px;
  }

  .images_content {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .image_sky {
    grid-column: 1/3;
    object-fit: cover;
  }

  .image_eat {
    grid-row-start: 1;
    grid-column: 3;
    grid-row: 1/3;
    object-fit: cover;
  }

  .image_audio {
    grid-row-start: 2;
    grid-column: 1;
    grid-row: 2/4;
    object-fit: cover;
  }

  .image_books {
    grid-row-start: 2;
    grid-column: 2;
    grid-row: 2;
    object-fit: cover;
  }

  .image_street {
    grid-row-start: 3;
    grid-column: 2/4;
    object-fit: cover;
  }

  .footer {
    min-height: 1024px;
    margin-top: 60px;
  }
}

@media (width>=1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    margin: 0;
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    margin-right: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    inline-size: 491px;
    margin-top: 50px;
    margin-right: 20px;
  }

  .why_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    .content_block {
      grid-template-columns: 1fr 2fr;
    }
    .block {
      grid-column: 1/-1;
    }
  }

  .content_section_title {
    inline-size: 314.96px;
    margin-bottom: 20px;
  }

  .content_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content_free {
    gap: 12px;
  }

  .images_content {
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-height: 768px;
  }
}
